{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock title %}

{% block content %}
<h1>About</h1>
<img src="">
<p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias maxime excepturi, laborum tempore praesentium ipsum placeat nesciunt iusto? Id maiores, nesciunt aliquid accusantium enim numquam porro perspiciatis ea officiis magnam?
</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, placeat magni aliquid magnam ipsam ullam atque facere non quasi. Corporis eos, laboriosam consectetur tempora aliquam nostrum. Error culpa eum laboriosam.
</p>
{% endblock content %}